{block content}
<section class="row">
    <nav class="col-xs-12">
        <table class="table table-striped">
            <tr n:foreach="$messageHeaders as $header">
                <td><a n:href="this messageId=>$header->id">{$header->timestamp|date:'d.m.Y H:i'}</a></td>
                <td><a n:href="this messageId=>$header->id">{$header->from}</a></td>
                <td><a n:href="this messageId=>$header->id">{$header->subject}</a></td>
            </tr>
        </table>
        <div class="text-center" n:if="$maxPage > 0">
            <div class="btn-group">
                <a n:tag-if="$page > 0" n:href="this page=>$page-1" class="btn btn-default">
                    <button class="btn btn-default" disabled n:tag-if="$page <= 0">
                        <i class="glyphicon glyphicon-chevron-left"></i> novější
                    </button>
                </a>
                <a n:tag-if="$page < $maxPage" n:href="this page=>$page+1" class="btn btn-default">
                    <button class="btn btn-default" disabled n:tag-if="$page >= $maxPage">
                        <i class="glyphicon glyphicon-chevron-right"></i> starší
                    </button>
                </a>
            </div>
        </div>
    </nav>
</section>
<section n:ifset="$messageBody" class="row">
    <article id="message-body" n:class="$attachments ? 'col-lg-9 col-md-8 col-sm-6' : col-xs-12">
        {!$messageBody}
    </article>
    <aside id="attachments" class="col-lg-3 col-md-4 col-sm-6" n:if="$attachments"
           style="border-left: 1px solid #999">
        <h2>Přílohy:</h2>
        <ul class="nav nav-pills">
            <li role="presentation" n:foreach="$attachments as $num=>$att">
                <a n:href="getAttachment attNum=>$num">{$att['filename']}</a>
            </li>
        </ul>
    </aside>
</section>
{/block}
