{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{block title|striptags}HOMEPAGE{/block}</title>

        {*<link rel="stylesheet" href="{$basePath}/css/style.css" type="text/css" media="screen, projection" />*}

        <link rel="stylesheet" href="{$basePath}/css/main.css">
        <!-- Bootstrap 3 (temporarily from CDN) -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        

        {block head}{/block}
    </head>

    <body>
        <script> document.documentElement.className += ' js'</script>
        <div class="container-fluid">
            {include #content}
        </div>
        <script src="{$basePath}/js/jquery.min.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/instante.js"></script>
        <script src="{$basePath}/js/live-tracy-errors.js"></script>{*todo: display only with debug on*}
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {block scripts}{/block}
    </body>
</html>

